	* {
	  padding: 0;
	  margin: 0;
	}

	body {
	  background-image: linear-gradient(to right, rgba(251, 222, 255, 1), rgba(222, 226, 255, 1));

	  opacity: 1;
	  transition: opacity 3s;
	}

	  #pag2{
	    animation: pag2 1.7s ease-in-out 0.0s;
	    opacity: 1;
	    transition: all .4s ease-in-out;
	  }
	  @keyframes pag2{
	    from{
	      opacity: 0;
	    }
	    to{
	      opacity: 1;
	    }
	  }

	  .allgames{
	    position: absolute;
	    top: 20px;
	    left: 410px;
	    border-bottom: 4px solid rgba(214, 184, 222, 1);
	  }
	  .allgames h1{
	    font-family: wlc2;
	    font-size: 30px;
	  }

/*---------- GAMES ZONE ------------*/
#gamebox{
  background-image: url(wall.png);
  background-repeat: no-repeat;
  width: 850px;
  height: 1550px;
 border-radius: 65px;
 border: 7px solid black;
  position: relative;
  top: 115px;
  left: 60px;
}
/*--------- First Line Games ---------*/

#g1{
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(templerun.png);
  position: absolute;
  top: 90px;
  left: 40px;
}
.g2 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(geometry.png);
  position: absolute;
  top: 90px;
  left: 200px;
}
.g3{
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(totalhero.png);
  position: absolute;
  top: 90px;
  left: 360px;
}
.g4 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(squid.png);
  position: absolute;
  top: 90px;
  left: 520px;
}
.g5 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(destroy.png);
  position: absolute;
  top: 90px;
  left: 680px;
}
/*----- FIRST LINE GAME FINISH ------*/



/*----- SECOND LINE GAMES ----------*/
.g6 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 258px;
  left: 40px;
}
.g7 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 258px;
  left: 200px;
}
.g8 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 258px;
  left: 360px;
}
.g9 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 258px;
  left: 520px;
}
.g10 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 258px;
  left: 680px;
}
/*---- SECOND LINE GAMES FINISH ------*/


/*------ THIRD LINE GAMES ----------*/


.g11 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 426px;
  left: 40px;
}
.g12 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 426px;
  left: 200px;
}
.g13 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 426px;
  left: 360px;
}
.g14 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 426px;
  left: 520px;
}
.g15 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 426px;
  left: 680px;
}

/*------ THIRD LINE GAMES FINISH -----*/


/*------ FOURTH LINE GAMES ---------*/

.g16 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 594px;
  left: 40px;
}
.g17 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 594px;
  left: 200px;
}
.g18 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 594px;
  left: 360px;
}
.g19 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 594px;
  left: 520px;
}
.g20 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 594px;
  left: 680px;
}
/*-----FOURTH LINE GAMES FINISH -----*/


/*------ FIFTH LINE GAMES -----------*/

.g21 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 762px;
  left: 40px;
}
.g22 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 762px;
  left: 200px;
}
.g23 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 762px;
  left: 360px;
}
.g24 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 762px;
  left: 520px;
}
.g25 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 762px;
  left: 680px;
}
/*------ FIFTH LINE GAMES FINISH -----*/


/*------ SIXTH LINE GAMES ----------*/

.g26 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 930px;
  left: 40px;
}
.g27 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 930px;
  left: 200px;
}
.g28 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 930px;
  left: 360px;
}
.g29 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 930px;
  left: 520px;
}
.g30 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 930px;
  left: 680px;
}
/*------ SIXTH LINE GAMES FINISH -----*/


/*-------- SEVENTH LINE GAMES --------*/
.g31 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 1098px;
  left: 40px;
}
.g32 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 1098px;
  left: 200px;
}
.g33 {
  width: 130px;
  height: 130px;
  border-radius: 18px;
  background-image: url(update.png);
  position: absolute;
  top: 1098px;
  left: 360px;
}
/*-----SEVENTH LINE GAMES FINISH -----*/
#g1frame{
  display: none;
  border: 7px solid black;
  
}
#g1frame #i1 {
  border-radius: 60px;
  position: relative;
  top: 115px;
  left: 60px;
}
#g2frame{
  display: none;
  border: 7px solid black;
}
#g2frame #i2 {
  border-radius: 60px;
  position: relative;

  top: 115px;
  left: 60px;
}
#g3frame{
  display: none;
  border: 7px solid black;
}
#g3frame #i3 {
  border-radius: 60px;
  
  position: relative;
  top: 115px;
  left: 60px;
}
#g4frame{
  display: none;
  border: 7px solid black;
}
#g4frame #i4 {
  border-radius: 60px;
  
  position: relative;
  top: 115px;
  left: 60px;
}
#g5frame{
  display: none;
  border: 7px solid black;
}
#g5frame #i5 {
  border-radius: 60px;
  
  position: relative;
  top: 115px;
  left: 60px;
}

#bck{
  width: 130px;
  height: 130px;
  background-color: #54A7D8;
  border-radius: 50%;
  position: absolute;
  left: 415px;
  top: 1515px;
}
.phncam{
  position: absolute;
  width: 239px;
  height: 45px;
  background-color: #0D1037;
  border-radius: 50px;
  top: 135px;
  left: 370px;
}
#screenoff{
  width: 10px;
  height: 199px;
  background-color: #291E1E;
  border-radius: 50px;
  position: absolute;
  top: 345px;
  left: 920px;
}

		@font-face {
		  font-family: wlc;
		  src: url(wlc.otf);
		}
		@font-face {
		  font-family: wlc2;
		  src: url(wlc2.ttf);
		}
		@font-face {
		  font-family: wlc3;
		  src: url(wlc3.ttf);
		}
		@font-face {
		  font-family: wlc4;
		  src: url(wlc4.ttf);
		}