	*{
			padding: 0;margin: 0;
		}
		
		body{
			background-image: linear-gradient(to right, rgba(251, 222, 255, 1),rgba(222, 226, 255, 1));
			
			opacity: 0;
			transition: opacity  3s;
		}
		
		
		.welcome{
		  width: 250px;
		  height: 250px;
		  position: relative;
		  top: 70px;
		  left: 50px;
		  background: url(welcome.png);
		  z-index: 1;
		}
		.wlcnotes{
		  position: absolute;
		  top: 310px;
		  left: 12px;
		  font-family: wlc2;
		  text-align: center;
		  font-weight: 100;
		  z-index: 1;
		}
		.wlcnotes h1,p{
		  font-weight: 100;
		  
		}
		.wlcnotes h1{
		  margin-top: 15px;
		}
		.wlcnotes p{
		  margin-top: 10px;
		}
	  .getstarted {
	    width: 150px;
	    height: 50px;
	    border-radius: 30px;
	    position: absolute;
	    top: 510px;
	    left: 105px;
	    background-image: linear-gradient(to right, rgba(189, 172, 255, 1),rgba(226, 172, 255, 1));
	    box-shadow: 1px 1px 1px 1px;
	    transition: all .25s ease-in-out;
	  }
	  .getstarted h1{
	    font-size: 20px;
	    position: absolute;
	    top: 15.5px;
	    left: 27px;
	    font-family: wlc3;
	  }
	  .getstarted:active{
	    transform: scale(.99);
	    box-shadow: 0px 0px 0px 0px;
	    
	  }
	  .harun1{
	    width: 205px;
	    height: 205px;
	    border: 5px solid rgba(154, 17, 227, 1);
	    border-radius: 19px 45px;
	    position: absolute;
	    left: 70px;
	    top: 85px;
	    opacity: 20%;
	    z-index: 0;
	    transform: rotate(0deg);
	    animation: harun1 4s ease-in-out infinite;
	  }
	  @keyframes harun1{
	    0%{
	      transform: rotate(0deg);
	      border-radius: 19px 45px;
	    }
	    50%{
	      transform: rotate(360deg);
	      border-radius: 19px 45px;
	    }
	    75%{
	      transform: rotate(360deg);
	      border-radius: 45px 19px;
	    }
	    100%{
	      transform: rotate(360deg);
	      border-radius: 19px 45px;
	    }
	  }
	  .harun2{
	    width: 205px;
	    height: 205px;
	    border: 5px solid rgba(255, 0, 135, 1);
	    border-radius: 45px 19px;
	    position: absolute;
	    left: 70px;
	    top: 85px;
	    opacity: 20%;
	    z-index: -1;
	    transform: rotate(0deg);
	    animation: harun2 4s ease-in-out infinite;
	  }
	  @keyframes harun2{
	    0%{
	      transform: rotate(0deg);
	      border-radius: 45px 19px;
	    }
	    50%{
	      transform: rotate(-360deg);
	      border-radius: 45px 19px;
	    }
	    75%{
	      transform: rotate(-360deg);
	      border-radius: 19px 45px;
	    }
	    100%{
	      transform: rotate(-360deg);
	      border-radius: 45px 19px;
	    }
	  }
	  .hi{
	    width: 360px;
	    height: 100px;
	    background-color: palevioletred;
	    position:relative;
	    top: 70px;
	    z-index: 0;
	    opacity: 20%;
	  }
		@font-face {
		  font-family: wlc;
		  src: url(wlc.otf);
		}
		@font-face {
		  font-family: wlc2;
		  src: url(wlc2.ttf);
		}
		@font-face {
		  font-family: wlc3;
		  src: url(wlc3.ttf);
		}
		@font-face {
		  font-family: wlc4;
		  src: url(wlc4.ttf);
		}